body{
    margin: 0;
    padding: 0;
    background-color:rgb(0,0,0,0.3);
  }

.login{
    height: 400px;
    width:550px;
    background-color: yellow;
    position: relative;
    left: 30%;
    top: 20%;
    text-align: center;
    border-radius:10px;
    box-shadow: 10px 10px 15px 2px grey;
}
.container{
    position: absolute;
    top:100px;
    left:100px;
}

input{
    height: 50px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
}

input::placeholder{
    font-size:x-large;
}

button{
    width:90px;
    height: 50px;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    background-color:#9ACD32;
    color: black;
    margin: 5px;
}


